.about {
  background: #fff;
  padding-top: 2rem;
  .about-title {
    span {
      display: inline-block;
      text-transform: uppercase;
      color: #b1b1b2;
      margin-bottom: 2rem;
      padding: 0 2rem;
    }
  }
  .about-text {
    background: #f4f4f4;
    color: #7a7a7a;
    padding: 1rem;
    text-align: left;
    p {
      padding-top: 5px;
    }
    :first-child {
      padding: 0;
    }
  }
}
