.tourism {
  .tourism-title {
    background: #1e1f23;
    h3 {
      display: inline-block;
      color: #fff;
      margin-top: 2rem;
    }
    span {
      display: inline-block;
      color: #b1b1b2;
      text-transform: uppercase;
      margin-bottom: 2rem;
      padding: 0 2rem;
    }
  }
  .tourism-text {
    background-color: #1e1f23;
    p {
      color: #7a7a7a;
      padding: 1rem;
      text-align: left;
    }
  }
}
