@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
.main-title {
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: 3px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.main-title div {
  position: fixed;
}
.main-title div h2 {
  font-weight: 100;
  align-self: center;
}
.main-title div h2 img {
  width: 40px;
  position: relative;
  top: 7px;
  right: 10px;
}
.main-title div h1 {
  font-size: 2.5em;
  align-self: center;
}

.about {
  background: #fff;
  padding-top: 2rem;
}
.about .about-title span {
  display: inline-block;
  text-transform: uppercase;
  color: #b1b1b2;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.about .about-text {
  background: #f4f4f4;
  color: #7a7a7a;
  padding: 1rem;
  text-align: left;
}
.about .about-text p {
  padding-top: 5px;
}
.about .about-text :first-child {
  padding: 0;
}

.wood-article {
  background: #1e1f23;
}
.wood-article .wood-title h3 {
  color: #fff;
  display: inline-block;
  margin-top: 2rem;
}
.wood-article .wood-title span {
  display: inline-block;
  margin-bottom: 2rem;
  color: #b1b1b2;
  text-transform: uppercase;
  padding: 0 2rem;
}
.wood-article .wood-images {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
}

.nature .nature-title {
  background: #fff;
}
.nature .nature-title h3 {
  display: inline-block;
  margin-top: 2rem;
}
.nature .nature-title span {
  display: inline-block;
  color: #b1b1b2;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.nature .herbs,
.nature .fungus {
  background-color: #1e1f23;
}
.nature .herbs h3,
.nature .fungus h3 {
  color: #fff;
  padding: 1.5rem 0;
}
.nature .herbs p,
.nature .fungus p {
  color: #7a7a7a;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}
.nature .animals,
.nature .lakes {
  background-color: #fff;
}
.nature .animals h3,
.nature .lakes h3 {
  color: #000;
  padding: 1.5rem 0;
}
.nature .animals p,
.nature .lakes p {
  color: #7a7a7a;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

.tourism .tourism-title {
  background: #1e1f23;
}
.tourism .tourism-title h3 {
  display: inline-block;
  color: #fff;
  margin-top: 2rem;
}
.tourism .tourism-title span {
  display: inline-block;
  color: #b1b1b2;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.tourism .tourism-text {
  background-color: #1e1f23;
}
.tourism .tourism-text p {
  color: #7a7a7a;
  padding: 1rem;
  text-align: left;
}

.history .history-title {
  background: #fff;
}
.history .history-title h3 {
  display: inline-block;
  color: #000;
  margin-top: 2rem;
}
.history .history-title span {
  display: inline-block;
  color: #b1b1b2;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.history .history-text {
  background-color: #fff;
}
.history .history-text p {
  color: #7a7a7a;
  padding: 1rem;
  text-align: left;
}

.monasteries .monasteries-title {
  background: #1e1f23;
}
.monasteries .monasteries-title h3 {
  display: inline-block;
  color: #fff;
  margin-top: 2rem;
}
.monasteries .monasteries-title span {
  display: inline-block;
  color: #b1b1b2;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.monasteries .monasteries-text {
  background-color: #1e1f23;
}
.monasteries .monasteries-text p {
  color: #7a7a7a;
  padding: 1rem;
  text-align: left;
}

footer .media-links {
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.5);
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding-bottom: 1rem;
}
footer .media-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
footer .media-links ul li {
  margin: 0 auto;
}
footer .media-links span {
  color: #000;
}

.menu-wrap {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}
.menu-wrap .toggler {
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu div {
  transform: scale(1);
  transition-duration: 0.4sec;
}
.menu-wrap .toggler:checked ~ .menu div div {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger div::before, .menu-wrap .hamburger div::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.menu-wrap .hamburger div::after {
  top: 10px;
  background-color: #000;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu div {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu div div {
  text-align: center;
  max-width: 200vw;
  max-height: 200vh;
  opacity: 0;
  transition: opacity 0.4sec ease;
}
.menu-wrap .menu div div ul li {
  font-size: 2rem;
  list-style: none;
  color: #fff;
  padding: 1rem;
}
.menu-wrap .menu div div ul li a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}

img {
  width: 100%;
}

main {
  box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.horizontal-line {
  height: 2px;
  width: 30%;
  background: #b1b1b2;
  margin: 2rem auto;
}

h3 {
  font-size: 1.7rem;
}

@media screen and (min-width: 600px) {
  .main-title div h2 {
    font-size: 2rem;
  }
  .main-title div h2 img {
    width: 60px;
    top: 9px;
  }
  .main-title div h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 800px) {
  .main-title div h2 {
    font-size: 2.3rem;
  }
  .main-title div h2 img {
    width: 70px;
    top: 11px;
  }
  .main-title div h1 {
    font-size: 4.3rem;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  main {
    box-shadow: none;
  }
  .main-title {
    height: 100vh;
  }
  .main-title div h2 {
    font-size: 2.5rem;
  }
  .main-title div h2 img {
    width: 80px;
    top: 12px;
  }
  .main-title div h1 {
    font-size: 5rem;
  }
  .about,
  .nature,
  .tourism,
  .history,
  .monasteries {
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.4);
  }
  .wood-article .wood-images {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wood-article .wood-images :nth-child(1) {
    width: 50%;
  }
  .wood-article .wood-images :nth-child(2) {
    width: 50%;
  }
  .wood-article .wood-images :nth-child(3) {
    width: 50%;
  }
  .wood-article .wood-images :nth-child(4) {
    width: 50%;
  }
  .nature {
    margin-top: 2em;
  }
  .nature .herbs,
  .nature .animals,
  .nature .fungus,
  .nature .lakes {
    display: flex;
  }
  .nature .herbs img,
  .nature .animals img,
  .nature .fungus img,
  .nature .lakes img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .nature .herbs div,
  .nature .animals div,
  .nature .fungus div,
  .nature .lakes div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    width: 50%;
  }
  .nature .animals img,
  .nature .lakes img {
    order: 2;
  }
  .tourism,
  .monasteries {
    margin-top: 2em;
  }
  .tourism .tourism-text,
  .tourism .monasteries-text,
  .monasteries .tourism-text,
  .monasteries .monasteries-text {
    display: flex;
  }
  .tourism .tourism-text img,
  .tourism .monasteries-text img,
  .monasteries .tourism-text img,
  .monasteries .monasteries-text img {
    width: 50%;
  }
  .tourism .tourism-text p,
  .tourism .monasteries-text p,
  .monasteries .tourism-text p,
  .monasteries .monasteries-text p {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .history {
    margin-top: 2em;
  }
  .history .history-text {
    display: flex;
  }
  .history .history-text img {
    width: 50%;
    order: 2;
  }
  .history .history-text p {
    background: #1e1f23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .media-links {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  footer .media-links ul {
    width: 50%;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */